.person {
    position: relative;
    border: grey solid thin;
    margin: 0.5rem;
    padding: 0 0.25rem;
    max-width: 720px;
    min-height: 140px;
    background: white;
}

img.profileImage {
  float: left;
  width: 100px;
  margin: 1mm;
}

.number {
    color: grey;
}

.name {
    font-size: 130%;
}

body {
    font-size: 150%;
    background: #eeeeee;
}

.mt1 {
    display: inline-block;
    margin-top: 0.25rem;
}

label.db {
    font-weight: 800;
}

.data {
    font-family: sans-serif;
}

#count {
    font-family: sans-serif;
    text-align: right;
    font-size: 80px;
    max-width: 720px;
    min-height: 80px;
    margin: 0.5rem;
    padding: 0 0.25rem;
    border: grey solid thin;
    background: white;
}

button {
    font-size: 100%;
}

input[type="text"] {
    font-size: 100%;
}

